@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lora&family=Poppins&family=Roboto:wght@100;300;400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

:root {
  --primary-color: rgb(31, 31, 65);
  --secondary-color: rgb(112,110,255);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  @apply w-[0rem]
}

::-webkit-scrollbar-track {
  @apply w-[2rem] bg-slate-300
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-slate-500
}

.sm-text{
  @apply text-sm leading-5  
}

.lg-text{
  @apply text-lg leading-6
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield !important;
}
